@model Vidly1.Models.Customer
@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerDetails</h2>
<ul>
    @*@foreach ()
    {
        @Html.DisplayFor(modelItem => cust.ID)
    }*@
</ul>